{% extends "layout/index.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
  <h2>Nouvel Usager</h2>
  <a href="/users">
    <button class="btn btn-primary">Usagers</button>
  </a>
</div>

<form action="/users" method="post">
  <div class="d-flex flex-column gap-2 w-50">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" name="full_name" required>
    </div>
    <div class="d-flex flex-row gap-2">
      <a href="/users" class="btn btn-secondary">Usagers</a>
      <button type="submit" class="btn btn-success">Sauveguarder</button>
    </div>
  </div>
</form>

{% endblock %}
