{% macro render_table(data, name, entity_url='entities.show') %}
<h4>{{ name }}</h4>
{% if data|length > 0 %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      {% for key in data[0] %}
      <th scope="col">{{ key|humanize }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      {% for td_key, td_value in item.items() %}
      <td>
        {{ td_value }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No data available.</p>
{% endif %}
{% endmacro %}
